[Desktop Entry]
Encoding=UTF-8
Name=Lien vers https://www.weather-forecast.com/locationmaps/Nancy.12.gif
Type=Link
URL=https://www.weather-forecast.com/locationmaps/Nancy.12.gif
Icon=text-html
